<div id="app">
    <div id="nav">
        <router-link to="/createmodel">Create Model</router-link> |
        <router-link to="/bar">Create Job</router-link>
    </div>
    <router-view></router-view>
</div>


<script>
    
    const Bar = { template: '<div>bar</div>'}

    const routes = [
        { path: '/createmodel', component: CreateModel },
        { path: '/bar', component: Bar }
    ]

    const router = new VueRouter({
        routes // short for `routes: routes`
    })

    new Vue({
        el: '#app',
        router,
    }).$mount('#app')
</script>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }

    .nav {
        padding: 30px;
    }

        .nav a {
            font-weight: bold;
            color: #2c3e50;
        }

    .router-link-exact-active {
        color: #42b983;
    }
</style>