
<div id="app">
    <div class="container">
        <div class="body">
            <h1 class="title">Welcome to Model Manager</h1>
            <h2 class="subtitle">Login to your personal dashboard below</h2>
            <div class="button-block">
                <h3 class="subsubtitle">Login</h3>
                <p>Email</p>
                <input v-on:keyup.enter="login" class="inputfield" type="text" v-model="email" />
                <br />
                <p>Password</p>
                <input v-on:keyup.enter="login" class="inputfield" type="password" v-model="password" />
                <button v-on:click="login" class="button">Login</button>
            </div>
        </div>
    </div>
</div>

<script>
    var mainVue = new Vue({
        el: '#app',
        data: {
            email: '',
            password: '',
            oldpassword: ''
        },
        methods: {
            login: function (event) {
                // `this` inside methods points to the Vue instance
                //alert(this.username + ' ' + this.password)
                axios.post('https://localhost:44368/api/Account/login',
                    {
                        email: this.email,
                        password: this.password,
                        oldPassword: this.oldpassword
                    }).then((response) => {
                        console.log(response);
                    }, (error) => {
                        console.log(error);
                    });
            }
        }
    })
</script>

<style>
    .body {
        margin-left:auto;
        margin-right:auto;
        position:center;
        width: 50%;
    }

    .title {
        text-align: center;
    }

    .subtitle {
        font-size: 15px;
        text-align: center;
    }

    .inputfield {
        margin: 0px;
        width: 100%;
        margin-bottom: 5px;
        text-align: center;
        font-size: 12px;
    }

    .button {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-bottom: 5px;
    }

    .button-block {
        margin: 50px;
        width: 35%;
        position:relative;
        margin-left: auto;
        margin-right: auto;
    }

    .subsubtitle {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
</style>